.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(5, 5, 5);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}
